/* Global/Top level styles
 *******************************************************************************/
#main-window {
  border-radius: 8px;
  background-color: #484848;
}
#main-box {
  padding: 10px;
}

/* Global button styles */
button {
  font-size: 18px;
  font-weight: bold;
  font-family: 'GE Inspira';
  border-radius: 8px;
  background-color: #ebebeb;
}

/* Title box
 *******************************************************************************/
#title-box {
  padding-left: 5px;
}
#title-label {
  margin-left: 5px;
  color: #d9d9d9;
  font-size: 70px;
  font-weight: bold;
  font-family: 'GE Inspira';
}

/* VPN Content box with vpn-list and vpn-content
 *******************************************************************************/
#content-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* VPN List
 *******************************************************************************/
#vpn-list-frame {
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #999;
}

/* VPN Content
 *******************************************************************************/
#vpn-content-frame {
  padding: 5px;
  border-radius: 8px;
  background-color: #999;
}
.vpn-content-frame {
  margin-bottom: 10px;
}
.vpn-content-frame-label {
  color: blue;
}
.vpn-content-box {
  margin-left: 8px;
  margin-right: 8px;
}
.vpn-content-box-bottom {
  margin-bottom: 8px;
}
.vpn-content-label {
  color: red;
  margin-right: 10px;
}
.vpn-content-entry {
  background-color: bisque;
}

/* Button bar box
 *******************************************************************************/
#button-bar-box {
  padding-left: 20px;
}
.button-bar {
  color: white;
}
#button-connect {
  background-color: #36a4db;
}
#button-save {
  background-color: #69c069;
}
#button-cancel {
  background-color: #d85b56;
}