/* Global/Top level styles
 *******************************************************************************
 * https://github.com/elementary/stylesheet/blob/master/gtk-3.22/gtk-widgets.css
 * Selectors:
 * pseudo classes: *:hover, *:focus, *:selected, *:selected:hover, *:disabled
 * 
 *******************************************************************************/
#main-window {
  border-radius: 8px;
  background-color: #484848;
}
#main-box {
  padding: 10px;
}

button {
  font-size: 18px;
  font-weight: bold;
  font-family: 'GE Inspira';
  min-width: 50px;
  border-radius: 8px;
  background-color: #ebebeb;
}

/* Title box
 *******************************************************************************/
#title-box {
  padding-left: 5px;
}
#title-label {
  margin-left: 5px;
  color: #d9d9d9;
  font-size: 70px;
  font-weight: bold;
  font-family: 'GE Inspira';
}

/* VPN Content box with vpn-list and vpn-content
 *******************************************************************************/
#content-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* VPN List
 *******************************************************************************/
#vpn-list {
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #999;
}
#add-button {
  background-color: orange;
}
#delete-button {
  background-color: purple;
}

/* VPN Content
 *******************************************************************************/
#vpn-content {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'GE Inspira';
  padding: 5px;
  border-radius: 8px;
  background-color: #999;
}
#vpn-content frame {
  margin-bottom: 8px;
}
.vpn-content-frame-label {
  color: #EEE;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.vpn-content-box {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.vpn-content-box-bottom {
  margin-bottom: 8px;
}
.vpn-content-label {
  margin-right: 10px;
}
.vpn-content-entry {
  min-width: 220px;
  /* background-color: bisque; */
}

/* Footer box
 *******************************************************************************/
#footer, #footer button{
  font-size: 18px;
  color: white;
}
#footer switch {
  color: black;
  padding: 2px;
  border-radius: 8px;
}
#footer switch:checked {
  color: white;
  background-color: #36a4db;
}
#footer switch slider {
  border-radius: 8px;
  border: 2px solid #36a4db;
}
#footer label {
  padding-left: 10px;
  padding-right: 10px;
}
box.button-bar {
  padding-left: 20px;
}
#connect-button {
  background-color: #36a4db;
}
#save-button {
  background-color: #69c069;
}
#cancel-button {
  background-color: #d85b56;
}